{% trans_default_domain 'contao_default' %}

{% block contao_bootstrap_carousel_component %}
  {% set list = list|default(_context) %}
  {% set tag_name = list.tag_name|default('ul') %}

  {# Set defaults for the various display modes #}
  {% set number_of_items = list.items|length  %}
  {% set randomize_order = list.randomize_order is defined and list.randomize_order %}
  {% set limit_elements = list.limit|default(0) > 0 %}
  {% set limit = list.limit|default(number_of_items) %}
  {% set items_per_page = list.items_per_page|default(number_of_items) %}
  {% set number_of_pages = items_per_page ? ((limit_elements ?: number_of_items) / items_per_page)|round(0, 'ceil') : 1 %}
  {% set add_pagination = number_of_pages > 1 %}

  {% block list %}
    {# If the list should be shuffled, paginated or limited, add the
           respective data-attributes. #}
    {% set list_attributes = attrs(list.list_attributes|default)
      .set('data-list-random', '', randomize_order)
      .set('data-list-paginate', items_per_page ~ ',' ~ limit, add_pagination or limit_elements)
    %}
    <{{ tag_name }}{% block list_attributes %}{{ list_attributes }}{% endblock %}>
    {% for item in list.items %}
      <li{% block list_item_attributes %}{{ attrs(list.item_attributes|default) }}{% endblock %}>
        {%- block list_item %}
          {# Render the content of your list item here: {{ item }} #}
        {% endblock -%}
      </li>
    {% endfor %}
    </{{ tag_name }}>
  {% endblock %}

{% endblock %}
